<div class="about-page">
  <app-main-navbar [activeLinkIndex]="1"></app-main-navbar>
  <div class="content-container">
    <h1>About</h1>
    <p>My name is Dominik Szczepanik, and I'm currently pursuing a degree in Computer Science at Silesian University of Technology. Domy is a project born out of my passion for technology and my desire to explore new horizons.</p>
    <p>This application is my personal endeavor to simplify task management, foster team collaboration, and elevate productivity. It reflects my commitment to mastering the latest technologies in software development.</p>
    <p>Feel free to get in touch with me via email or connect with me on LinkedIn and GitHub:</p>
    <ul>
      <li><i class="fas fa-envelope"></i> dominik16333@gmail.com</li>
      <li><a href="https://www.linkedin.com/in/dmxx/"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
      <li><a href="https://github.com/dominik24356"><i class="fab fa-github"></i> GitHub</a></li>
    </ul>
  </div>



</div>

