<div *ngIf="showModal" class="task-modal-container">
  <div class="task-modal">
      <!-- Header Section -->
      <div class="header">
        <h2>{{ task?.taskName }}</h2>
        <div class="due-date">
          <p *ngIf="task?.dueDate"><strong>Due date: </strong> {{ task?.dueDate | date: 'medium' }}</p>
        </div>
      </div>

      <!-- Panels Section -->
      <div class="panels">
        <!-- Left Panel Section -->
        <div class="left-panel">
          <!-- Labels, Attachments, Assigned Users (Members) Section -->
          <div class="additional-info">
            <!-- Labels Section -->
            <div *ngIf="task?.labels?.length" class="labels">
              <strong>Labels</strong>
              <div class="label-container">
                <div *ngFor="let label of task?.labels" class="label" [style.backgroundColor]="getLabelColor(label?.color)">
                  {{ label?.name }}
                </div>
              </div>
            </div>

            <!-- Attachments Section -->
            <div *ngIf="task?.attachments?.length" class="attachments">
              <strong>Attachments</strong>
              <ul>
                <li *ngFor="let attachment of task?.attachments" class="attachment">
                  <div class="attachment-info">
                      <p>
                        <span [title]="attachment?.link" class="attachment-name" (click)="openAttachmentLink(attachment)">
                          {{ attachment.name }}
                        </span>
                        <span class="attachment-options">
                          <span>Edit</span>
                          <span>Delete</span>
                        </span>
                      </p>
                      <p class="creation-date">Added at {{ attachment.createdAt | date: 'medium' }}</p>
                  </div>
                </li>
              </ul>
            </div>


            <!-- Assigned Users (Members) Section -->
            <div *ngIf="task?.assignedUsers?.length" class="assigned-users">
              <strong>Members:</strong>
              <span *ngFor="let user of task?.assignedUsers; let last = last">{{ user.username }}{{ !last ? ', ' : '' }}</span>
            </div>
          </div>

          <!-- Description Section -->
          <div class="description">
            <strong>Description</strong>
            <div *ngIf="!isEditingDescription; else editDescription">
              <p (click)="startEditingDescription()" #readableDescription>
                {{ task?.description?.trim() ? task?.description : 'Text field is empty.' }}
              </p>
            </div>
            <ng-template #editDescription>
              <textarea [(ngModel)]="editedDescription" #editableDescription (input)="adjustTextareaHeight()"></textarea>
              <div class="edit-buttons">
                <button (click)="saveDescription()">Save</button>
                <button (click)="cancelEditingDescription()">Cancel</button>
              </div>
            </ng-template>
          </div>




          <!-- Comments Section -->
          <div *ngIf="task?.comments?.length" class="comments">
            <strong>Comments</strong>
            <ul class="comment-list">
              <li *ngFor="let comment of task?.comments" class="comment-item">
                <div class="user-avatar">
                </div>
                <div class="comment-content">
                  <p class="comment-meta">
                    <span class="author-name">{{ comment?.authorName }}</span>
                    <span class="creation-date">{{ comment?.createdAt | date: 'medium' }}</span>
                  </p>
                  <p class="comment-text">{{ comment?.content }}</p>
                  <div class="comment-options">
                    <span class="option">Edit</span>
                    <span class="option">Delete</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>


        </div>

        <!-- Right Panel Section -->
        <div class="right-panel">
          <!-- Action Buttons -->
          <div class="action-buttons">
            <button class="action-button">Labels</button>
            <button class="action-button">Due date</button>
            <button class="action-button">Attachments</button>
            <button class="action-button">Move</button>
            <button class="action-button delete-button">Delete</button>
          </div>
        </div>
      </div>

      <!-- Close Button -->
      <button class="close-button" (click)="closeModal.emit()">Close</button>
    </div>

</div>
