/* task-modal.component.css */

.task-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  overflow: hidden;
  background-color: #101204;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.task-modal {
  width: 500px;
  max-height: 80vh;
  color: #b6c2cf;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow-y: auto;
  overflow-x:hidden ;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panels {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

.left-panel {
  flex: 2;
  float: left;
  text-align: left;
  margin-right: 20px;
  box-sizing: border-box;
  width: 60%;
}


.right-panel {
  flex: 1;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  width: 40%;
}

.labels,
.attachments,
.assigned-users,
.description,
.comments {
  margin-bottom: 20px;
}

.labels strong,
.attachments strong,
.assigned-users strong,
.description strong,
.comments strong {
  color: #fff;
  margin-bottom: 20px; /* Adjust as needed */
  display: block; /* Ensure each strong is on a new line */
}

.labels ul,
.attachments ul,
.comments ul {
  list-style-type: none;
  padding: 0;
}

.labels li,
.attachments li,
.comments li {
  margin-bottom: 15px;
}


.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 5px; /* Mniejszy odstęp pomiędzy tytułem a datą */
}

.due-date {
  color: #b6c2cf;
  font-size: 16px;
  margin-bottom: 20px; /* Dodaj odstęp pomiędzy datą a następną sekcją */
}

/* Right Panel Section */
.right-panel {
  flex: 1; /* Right Panel - Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.action-buttons {
  display: flex;
  flex-direction: column;
}
.task-modal button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin-bottom: 10px; /* Dodaj odpowiedni odstęp */
}

.task-modal button:hover {
  background-color: white;
  color: black;
}

.task-modal button.delete-button:hover {
  color: red;
}

/* Scrollbar Styles */
.task-modal::-webkit-scrollbar {
  width: 12px;
}

.task-modal::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 8px;
  margin-right: 50px;
  height: 6px;
}

.task-modal::-webkit-scrollbar-track {
  background-color: #333;
  border-radius: 10px;
}




.description,
.comments,
.action-buttons,
.labels,
.attachments,
.assigned-users{
  background-color: #2f3237;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}



.label-container {
  display: flex;
  flex-wrap: wrap;
}

.label {
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.label:hover {
  background-color: #fff;
  color: #000;
}

.attachment {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding: 8px;
}

.attachment-info p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.attachment-name {
  color: #007bff; /* Adjust color as needed */
  cursor: pointer;
}

.attachment-options span {
  margin-left: 10px; /* Add margin for spacing between options */
  cursor: pointer;
}

.attachment-options span:hover,
.attachment-name:hover {
  text-decoration: underline;
}

.creation-date {
  font-size: 12px; /* Adjust font size as needed */
  margin-top: 5px; /* Add margin for spacing between name and date */
}


.comment-list {
  list-style-type: none;
  padding: 0;
}

.comment-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.user-avatar {
  width: 20%;
  height: 40px;
  overflow: hidden;
  margin-right: 10px;
  background-image: url('../../../../../assets/images/default_user.png'); /* Zastąp ścieżką do pliku graficznego */
  background-size: contain; /* Dostosowanie tła do wymiarów elementu, całe tło będzie widoczne */
  background-position: center; /* Ustawienie pozycji tła na center */
  background-repeat: no-repeat;
}




.comment-content {
  flex: 1;
  width: 80%;
}

.comment-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  color: #b6c2cf;
  font-size: 12px;
}

.author-name {
  font-weight: bold;
  margin-right: 10px;
}

.creation-date {
  margin-left: 10px;
}

.comment-text {
  color: #b6c2cf;
  background-color: #4a4f57;
  border-radius: 8px; /* Zaokrąglone rogi dla tekstu komentarza */
  padding: 10px;
  font-size: 13px;
  overflow-wrap: break-word; /* Łamanie słów dla tekstu */
  word-break: break-word; /* Łamanie słów dla tekstu */
}

.comment-options {
  display: flex;
}

.option {
  margin-right: 10px;
  cursor: pointer;
  font-size: 12px;
  color: #b6c2cf;
}

.option:hover {
  text-decoration: underline;
}

/* Add Comment Form */

textarea {
  width: 100%;
  resize: none; /* Prevent textarea resizing */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #232529;
  color: #b6c2cf;
  font-size: 15px;
  overflow-y: hidden;
  outline: none;
  padding: 9px;
  font-family: sans-serif;
}

.description textarea:focus {
  border: 1px solid #007bff; /* Niebieskie obramowanie podczas focusu */
}

.description p {
  border-radius: 5px; /* Zaokrąglone rogi dla tekstu komentarza */
  padding: 10px;
  font-size: 15px;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.description p:hover {
  cursor: pointer;
}



.edit-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px; /* Add margin for spacing */
}

.edit-buttons button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin-right: 10px; /* Add margin for spacing */
}

.edit-buttons button:hover {
  background-color: white;
  color: black;
}
