/* Updated styles for the top navigation */
.topnav {
  background-color: rgba(47, 50, 55, 0.8); /* Slightly transparent dark gray background color */
  overflow: hidden;
  height: 3em;
  border-radius: 10px; /* Add rounded corners to the topnav */
  margin: 10px; /* Add spacing around the navbar */
  display: flex;
  align-items: center; /* Center items vertically */
}


.topnav a {
  color: #b6c2cf;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
  border-radius: 10px;
  margin: 0 10px;
}

.topnav a:hover {
  background-color: #3b3e43;
  color: #ffffff;
  border-radius: 20px;
}

.topnav a.active {
  background-color: rgb(204, 102, 255);
  color: white;
  border-radius: 20px;
}
