.section-title {
  height: 1em;
  display: flex; /* Ustawienie na flex, aby elementy mogły być obok siebie */
  align-items: center; /* Wyśrodkowanie elementów w pionie */
  justify-content: center; /* Wyśrodkowanie elementów w poziomie */
  background-color: rgba(169, 169, 169, 0.2);
  color: #b6c2cf;
  border-radius: 8px;
  padding: 5px 10px; /* Dostosowanie paddingu */
  margin: 0px 10px; /* Dostosowanie marginesu */
}

.section-title h2 {
  cursor: default; /* Zmiana kursora na pointer */
}


.section-title span {
  margin-left: 10px;
  font-size: 1em;
  cursor: pointer;
}

.section-title .delete-icon:hover {
  color: #ff7875;
  cursor: pointer;
}

.section-title .edit-icon:hover {
  color: #ffbf00;
  cursor: pointer;
}

