<!-- board.component.html -->
<div class="board-container">
  <div class="task-list-container" *ngFor="let taskList of board.taskLists; let i = index">
    <div class="task-list">
      <div class="task-list-header">
        <h3>{{ taskList.listName }}</h3>
        <span class="delete-button" (click)="deleteTaskList(taskList.listId!)">&#10006;</span>
      </div>
      <div class="task-list-content">
        <div class="task-container" *ngFor="let task of taskList.tasks">
          <div class="task">
            <h4>{{ task.taskName}}</h4>
            <p>{{ task.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-delete-task-list-alert
    [show]="showDeleteTaskListAlert"
    (confirm)="confirmDeleteTaskList()"
    (cancel)="cancelDeleteTaskList()">
  </app-delete-task-list-alert>
</div>
