/* board.component.css */
.board-container {
  display: flex;
  overflow-x: auto; /* Dodaj poziomy scrollbar, jeśli zawartość przekracza szerokość */
  min-width: 100%; /* Minimalna szerokość równa szerokości strony */
  max-height: 90vh;
}
