/* board.component.css */
.board-container {
  display: flex;
  overflow-x: auto;
  height: calc(100vh - 3em);
  min-width: 100vh; /* Ustaw stałą szerokość task-list-container */
}
.task-list-container {
  display: flex;
  flex-direction: column;
}

.task-list {
  background-color: #101204;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  padding: 10px;
  width: 200px; /* Ustaw stałą szerokość */
}

.task-list-header {
  color: #b6c2cf;
  font-size: 0.8em;
}

.task-list-content {
  overflow-y: auto;
  max-height: 80%;
}

app-task {
  margin-bottom: 10px;
  display: block;
}

/* task.component.css */
.task-container {
  background-color: #2f3237; /* Kolor tła - szary */
  color: #b6c2cf; /* Kolor tekstu - ciemny szary */
  padding: 10px; /* Dodaj odstęp wokół zawartości */
  border-radius: 5px; /* Zaokrąglone rogi */
  margin-bottom: 10px; /* Dodaj odstęp między zadaniami */
  overflow: hidden;
}

.task h4 {
  margin-bottom: 5px; /* Opcjonalne: Dodaje odstęp między tytułem a opisem */
  font-size: 0.8em; /* Opcjonalne: Zmniejsza rozmiar czcionki */
}

.task p {
  margin-top: 5px; /* Opcjonalne: Dodaje odstęp między opisem a przyciskiem */
  font-size: 0.8em; /* Opcjonalne: Zmniejsza rozmiar czcionki */
}





