/* board.component.css */
.board-container {
  display: flex;
  overflow-x: hidden; /* change later to auto ! */
  overflow-y: auto; /* Ukryj pionowy scrollbar */
  min-width: 100%; /* Minimalna szerokość równa szerokości strony */
  height: calc(100vh - 3em); /* Wysokość równa wysokości strony minus wysokość navbara */


border: red solid 2px;

}




