
<div class="board-page">
  <app-main-navbar></app-main-navbar>
  <app-section-title [showTools]="true"  [title]="'\'' + board.boardName+ '\'' + ' board'" (editClicked)="handleEditClick()" (deleteClicked)="handleDeleteClick()"></app-section-title>
<div class="board-container">


  <div class="task-list-container" *ngFor="let taskList of board.taskLists; let i = index">
    <div class="task-list">
      <div class="task-list-header">
        <h3>{{ taskList.listName }}</h3>
        <span class="delete-button" (click)="deleteTaskList(taskList!)">&#10006;</span>
      </div>
      <div class="task-list-content">
        <div class="task-container" *ngFor="let task of taskList.tasks" >
          <div class="task" (click)="openTaskModal(task)">
            <h4>{{ task.taskName }}</h4>
            <p>{{ task.description }}</p>
          </div>
          <app-task-modal [boardId]="boardId" [showModal]="isTaskModalOpen" [task]="selectedTask" (closeModal)="closeTaskModal()"></app-task-modal>

        </div>
      </div>
      <div class="task-list-footer">
        <button *ngIf="!isAddTaskButtonHidden[i]" class="add-task-button" (click)="showAddTaskForm(i)">Add task</button>

        <div *ngIf="currentOpenFormIndex === i" class="add-task-form">
          <form [formGroup]="addTaskForm" (submit)="addTask(i)">
            <input formControlName="taskName" type="text" placeholder="Enter task name" />
            <div class="button-container">
              <button type="submit" class="submit-button">Add</button>
              <button type="button" class="cancel-button" (click)="cancelAddTaskForm(i)">&#10006;</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="add-task-list-container">
    <div class="add-task-list" *ngIf="!showAddTaskListForm" (click)="showAddTaskList()">
      <div class="add-task-list-header">
        <span class="plus-sign">+</span>
        <h3>Add task list</h3>
      </div>
    </div>

    <div *ngIf="showAddTaskListForm" class="add-task-list-form">
      <form [formGroup]="addTaskListForm">
        <input formControlName="taskListName" type="text" placeholder="Enter task list title" required />
        <div class="button-container">
          <button type="button" class="submit-button" (click)="createTaskList()">Create</button>
          <button type="button" class="cancel-button" (click)="cancelAddTaskList()">&#10006;</button>
        </div>
      </form>
    </div>
  </div>

  <app-delete-task-list-alert
    [show]="showDeleteTaskListAlert"
    [taskListName]="taskListToDeleteName!"
    (confirm)="confirmDeleteTaskList()"
    (cancel)="cancelDeleteTaskList()">
  </app-delete-task-list-alert>

  <app-change-board-title-alert
    [show]="showChangeBoardTitleAlert"
    [boardId]="boardId"
    (cancelClicked)="handleCancelEditBoardTitle()"
  ></app-change-board-title-alert>

  <app-delete-board-alert
    [show]="showDeleteBoardAlert"
    [boardName]="board.boardName || 'this'"
    [boardId]="board.boardId"
    (confirm)="confirmDeleteBoard()"
    (cancel)="cancelDeleteBoard()">
  </app-delete-board-alert>

</div>
</div>
