/*tasklist.component.css */
.task-list-container {
  overflow: hidden;
  height: 100%;
}

.task-list {
  background-color: #101204;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  margin: 10px;
  float: left;
  overflow: hidden;

}

.task-list-header {
  color: #b6c2cf;
  font-size: 0.8em;
}

.task-list-content {
  overflow-y: auto; /* Ustaw overflow na auto dla scrollowania */
  max-height: 80%;
 /* Maksymalna wysokość zawartości, po przekroczeniu pojawi się scrollbar */


}

app-task {
  margin-bottom: 10px;
  display: block;
}


