
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(47, 50, 55, 0.3);
  padding: 20px;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  animation: fadeIn 0.5s ease;
}

.modal-content {
  text-align: center;
  color: white;
}


.modal button {
  background-color: rgba(47, 50, 55, 0.3);
  color: white;
  padding: 12px 20px;
  margin: 0 10px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.modal button:hover {
  background-color: white;
  color: black;
}


.modal button.yes-button:hover {
  color: red;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container input {
  margin-bottom: 10px;
  /* Dodaj inne stylizacje, jeśli są potrzebne */
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*input styling*/
input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #232529;
  color: #b6c2cf;
  font-size: 15px;
  overflow-y: hidden;
  outline: none;
  padding: 9px;
  font-family: sans-serif;
}


.error-message {
  color: #b6c214;
  margin-bottom: 10px;
}

