
<div class="main-panel-container">
  <app-main-navbar [activeLinkIndex]="2"></app-main-navbar>
  <app-section-title [title]="'Boards'"></app-section-title>
  <div class="main-panel-content">
    <div class="board-container" *ngFor="let board of boards; let i = index">
      <div title="Open board" class="board" (click)="goToBoard(board.boardId!)">
        <div class="board-header">
          <h3>{{ board.boardName }}</h3>
          <span title="Delete this board" class="delete-button" (click)="startDeletionOfBoard($event, board )">&#10006;</span>
        </div>
      </div>
    </div>

    <div class="add-board-container">
      <div class="add-board" *ngIf="!showAddBoardForm" (click)="showAddBoard()">
        <div class="add-board-header">
          <span class="plus-sign">+</span>
          <h3>Add board</h3>
        </div>
      </div>
      <div *ngIf="showAddBoardForm" class="add-board-form">
        <form [formGroup]="addBoardForm">
          <input formControlName="boardName" type="text" placeholder="Enter board title" required />
          <div class="button-container">
            <button type="button" class="submit-button" (click)="createBoard()">Create</button>
            <button type="button" class="cancel-button" (click)="cancelAddBoard()">&#10006;</button>
          </div>
        </form>
      </div>
    </div>

    <app-delete-board-alert
      [show]="showDeleteBoardAlert"
      [boardName]="boardToDeleteName || 'this'"
      [boardId]="boardToDeleteId"
      (confirm)="confirmDeleteBoard()"
      (cancel)="cancelDeleteBoard()">
    </app-delete-board-alert>
  </div>
</div>
