
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.delete-board-alert {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(47, 50, 55, 0.3);
  padding: 20px;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  animation: fadeIn 0.5s ease;
}

.modal-content {
  text-align: center;
  color: white;
}

.show {
  display: block;
}


.delete-board-alert button {
  background-color: rgba(47, 50, 55, 0.3);
  color: white;
  padding: 12px 20px;
  margin: 0 10px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.delete-board-alert button:hover {
  background-color: white;
  color: black;
}


.delete-board-alert button.yes-button:hover {
  color: red;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

